<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台管理</title>
    <link rel="stylesheet" href="../static/css/manager.css" th:href="@{/css/manager.css}">
    <link rel="stylesheet" href="../static/css/reset.css" th:href="@{/css/reset.css}">
    <style>
        th{
            margin: 0 auto;
        }
    </style>
</head>
<body id="body">
    <div class="header">
        <div class="backindex">
            <a href="../static/index.html" th:href="@{/templates/index.html}">返回首页</a>
        </div>
        <div class="title">　
            后台管理
        </div>
    </div>
    <div class="managebusiness">
        <div class="navigate">
            <ul>
                <li>店铺名称</li>
                <li>店铺持有人</li>
                <li>管理</li>
            </ul>
        </div>
        <div class="information">
            <table>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
                <tr>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                    <th>XXXXXXX</th>
                </tr>
            </table>
        </div>
    </div>
    
</body>
</html>